deps/
CMakeFiles/
build/
CMakeCache.txt
Makefile
cmake_install.cmake
*.a
.DS_Store
.vscode/
deps.*/
.idea/
cmake-build*/
html/
latex/
src/temp.zip
CTestTestfile.cmake
Testing/
src/tests/connection_layer_tests
